@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

body.chakra-ui-light {
  background: #F3F6FC !important;
}

body.chakra-ui-dark {
  background: #040D12 !important;
}

.text-logo {
  font-size: 30px;
  font-weight: bold;
  line-height: 54px;
  margin-bottom: 10px;
  color: #FFB546;
  text-shadow: -4px 5px 6px rgba(169,155,155,0.6);
}
